:root {
    --brown:#4C302F;
    --pink:#C464C4;
    --purple:#7038D1;
    --blue:#5367A3;
    --cyan:#91DEEB;
    --black:#101010;
}


body {

    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 8% 82% 10%;
    grid-template-areas:  
    "topper"
    "main"
    "footer";

    
}

div.bg {
    margin: 0;
    padding: 0;
    grid-area: main;
    width: 100%;
    height: 100%;
    display: flex;

}

img.bg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.footer, .topper{
    background-color: var(--black);
}

div.footer{
    grid-area: footer;
}

div.topper {
    grid-area: topper;
}